<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1">
    <tr>
        <th>名称</th>
        <th>结果</th>
    </tr>
{% for result in data %}
<tr>
    <td>{{ result.input }}</td>
    <td>
        {% for city in result.result %}
            {{ city.name }} - {{ city.url }} <br/>
        {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
<hr/>
可以直接从下面复制数据粘贴到excel中<br/>
{% for result in data %}
        {% for city in result.result %}
            {{ city.url }} <br/>
        {% endfor %}
{% endfor %}
</body>
</html>